<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.ChapterMapper">
  <resultMap id="base_result_map" type="edu.qit.cloudclass.domain.Chapter">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="test" jdbcType="VARCHAR" property="test" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="base_column_list">
    id,course,num,name,video,info,test,createTime
  </sql>

  <insert id="insert" parameterType="edu.qit.cloudclass.domain.Chapter">
    insert into chapter (id, course, num,
    name, video, test,
    createTime, info)
    values (#{id,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
    #{name,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, #{test,jdbcType=VARCHAR},
    now(), #{info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.qit.cloudclass.domain.Chapter">
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="test != null">
        test,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="test != null">
        #{test,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteChapter">
    delete from chapter where id = #{chapterId}
  </delete>

  <select resultMap="base_result_map" id="chapterList" parameterType="String">
    SELECT <include refid="base_column_list" />
    from chapter
    where course=#{courseId} and num is not null
    order by num;
  </select>

  <select id="findNextNum" resultType="java.lang.Integer">
    select max(num)+1 from chapter where course=#{courseId}
  </select>

  <select id="findCourseIdByPrimaryKey" resultType="java.lang.String">
    select course from chapter where id = #{id};
  </select>

    <select id="findNumByPrimaryKey" resultType="java.lang.Integer">
        select num from chapter where id = #{id};
    </select>

  <update id="chapterModify" parameterType="edu.qit.cloudclass.domain.Chapter">
    update chapter
    <trim prefix="set" suffixOverrides=",">
      <if test="chapter.id != null">id = #{chapter.id},</if>
      <if test="chapter.name != null">name = #{chapter.name},</if>
      <if test="chapter.info != null">info = #{chapter.info},</if>
    </trim>
    where id = #{chapter.id};
  </update>
    <update id="updateNumAfterDelete">
        update chapter set num = num - 1 where course = #{course} and num > #{num};
    </update>
  <update id="updateNumBeforeInster">
    update chapter set num = num + 1 where course = #{course} and num >= #{num}
  </update>
  <update id="updateVideoIdAfterUpload">
    update chapter set video = #{video} where id = #{id};
  </update>

  <!--查询章节列表-->
  <select id="getChapterList" resultType="edu.qit.cloudclass.domain.ChapterSpinner" >
    select id,course,num,name from chapter where course = #{course} and num is not null order by num asc ;
  </select>

</mapper>