<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.ChoiceMapper">
    <sql id="base_column_list">
        id,exam,question,score,optionA,optionB,optionC,optionD,answer
    </sql>
</mapper>