<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.CourseMapper">

    <sql id="base_column_list">
        id,name,image,createTime,teacher,tag,finalExam
    </sql>

    <select id="findCourseByPrimaryKey" resultType="edu.qit.cloudclass.domain.Course">
        select
        <include refid="base_column_list"/>
        from course where id = #{id};
    </select>

    <select id="coursesList" resultType="edu.qit.cloudclass.domain.Course">
        select
        <include refid="base_column_list"/>
        from cloudclass.course where teacher = #{teacher}
        order by createTime desc;
    </select>

    <!-- 第二阶段 -->
    <select id="tagList" resultType="edu.qit.cloudclass.domain.Course">
        select
        <include refid="base_column_list"/>
        from cloudclass.course where tag like "%"#{tag}"%";
    </select>


    <!-- end -->

    <update id="modify" parameterType="edu.qit.cloudclass.domain.Course">
        update course
        <trim prefix="set" suffixOverrides=",">
            <if test="course.id != null">id = #{course.id},</if>
            <if test="course.name != null">name = #{course.name},</if>
            <if test="course.tag != null">tag = #{course.tag},</if>
        </trim>
        where id = #{course.id}
    </update>

    <update id="updateImageIdAfterUpload">
        update course set image = #{image} where id = #{id};
    </update>
    <update id="updateFinalExamAfterUpload">
        update course set finalExam = #{finalExam} where id = #{id};
    </update>

    <!-- 根据id删除课程信息 -->
    <delete id="delete" parameterType="String">
        delete from course where id = #{id}
    </delete>

    <!-- 增加课程 -->
    <insert id="insert" parameterType="edu.qit.cloudclass.domain.Course">
        insert into cloudclass.course (id,name,createTime,teacher,tag)
        values (#{course.id},#{course.name},now(), #{course.teacher},#{course.tag})
    </insert>

    <!--查询课程列表-->
    <select id="getCourseSpinnerList" resultType="edu.qit.cloudclass.domain.spinner.CourseSpinner">
        select id,name from course;
    </select>
    <select id="checkCourseExist" resultType="java.lang.Integer">
        select count(1) from course where id = #{id};
    </select>
    <select id="findFinalExamByPrimaryKey" resultType="java.lang.String">
        select finalExam from course where id = #{id};
    </select>

    <!--查询学生已选课程列表-->
    <select id="getSCourseList" resultType="edu.qit.cloudclass.domain.Course" parameterType="String">
        select course.id, name, image, course.createTime, teacher, tag, finalExam
        from study,course where study.course = course.id and study.student = #{student};
    </select>
    <!--检查该学生选课状态-->
    <select id="checkStudyByCourseIdAndStudentId" resultType="int" parameterType="edu.qit.cloudclass.domain.Study">
        select count(*) from study where course=#{course} and student=#{student};
    </select>
    <select id="fingCourseIdByFinalExam" resultType="java.lang.String">
        select id from course where finalExam = #{finalExam};
    </select>
    <select id="findTeacherIdByPrimaryKey" resultType="java.lang.String">
        select teacher from course where id = #{id};
    </select>
    <select id="selectCourseSpinnerListByTeacher" resultType="edu.qit.cloudclass.domain.spinner.CourseSpinner">
        select id,name from course where teacher = #{teacher};
    </select>
    <select id="selectCourseSpinnerListByStudent" resultType="edu.qit.cloudclass.domain.spinner.CourseSpinner">
        select course.id,course.name from course,study
        where course.id = study.course and study.student = #{student};
    </select>

    <!--学生退课-->
    <delete id="deletScourseByCourseIdAndStudentId" parameterType="edu.qit.cloudclass.domain.Study">
        delete from study where course=#{course} and student=#{student};
    </delete>
</mapper>