<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.CourseMapper">

    <sql id="base_column_list">
        id,name,image,createTime,teacher,tag
    </sql>

    <select id="findTeacherIdByPrimaryKey" resultType="java.lang.String">
        select teacher from course where id = #{id};
    </select>

    <select id="findCourseById" resultType="java.lang.String">
        select * from course where id = #{id};
    </select>

    <select id="getCourses" resultType="edu.qit.cloudclass.domain.Course">
        select * from cloudclass.course where teacher = #{teacher}
    </select>

    <update id="modify" parameterType="edu.qit.cloudclass.domain.Course">
        update cloudclass.course
        <set>
            <if test="name != null">name = #{name}</if>
            <if test="image != null">image = #{image}</if>
            <!--<if test="createTime != null">createTime = #{createTime}</if>-->
            <if test="teacher != null">teacher = #{teacher}</if>
            <if test="tag != null">tag  = #{tag }</if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据id删除课程信息 -->
    <delete id="deleteCourseById" parameterType="String">
        delete from cloudclass.course where id = #{id}
    </delete>

    <!-- 增加课程 -->
    <insert id="add" parameterType="edu.qit.cloudclass.domain.Course">
        insert into cloudclass.course (id,name,image,createTime,teacher,tag)
        values (#{id},#{name}, #{image},now(), #{teacher},#{tag})
    </insert>

    <!--查询课程列表-->
    <select id="getCourseList" resultType="edu.qit.cloudclass.domain.CourseSpinner">
        select id,name from course;
    </select>

</mapper>