<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.ExamMapper">

    <sql id="base_column_list">
        id,course,name,startTime,stopTime,duration,resubmit,createTime
    </sql>
    <insert id="insert" parameterType="edu.qit.cloudclass.domain.Exam">
        insert into final_exam(id,course, name, startTime, stopTime, duration, resubmit, createTime)
        values (#{exam.id},#{exam.course},#{exam.name},#{exam.startTime},#{exam.stopTime},#{exam.duration},#{exam.resubmit},now());
    </insert>
    <delete id="delete">
        delete from final_exam where id = #{id};
    </delete>
    <select id="findExamByPrimaryKey" resultType="edu.qit.cloudclass.domain.Exam">
        select
        <include refid="base_column_list"/>
        from final_exam where id = #{id};
    </select>

</mapper>