<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.ExamMapper">
    <sql id="base_column_list">
        id,course,name,createTime,startTime,stopTime,timeLength
    </sql>

    <!--查询考试名称列表-->
    <select id="getExaminationList" resultType="edu.qit.cloudclass.domain.ExamSpinner">
        select id,course,num,name from chapter where course = #{course} order by if(isnull(num),1,0),num;
    </select>

</mapper>