<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qit.cloudclass.dao.SpinnerMapper">

    <!--查询课程列表-->
    <select id="getCourseList" resultType="edu.qit.cloudclass.domain.CourseSpinner">
        select id,name from course;
    </select>

    <!--查询章节列表-->
    <select id="getChapterList" resultType="edu.qit.cloudclass.domain.ChapterSpinner" >
        select id,course,num,name from chapter where course = #{course} and num is not null order by num asc ;
    </select>

    <!--查询考试名称列表-->
    <select id="getExaminationList" resultType="edu.qit.cloudclass.domain.ExamSpinner">
        select id,course,num,name from chapter where course = #{course} order by if(isnull(num),1,0),num;
    </select>

</mapper>












